<h2>Actualiza tu carta de bebidas</h2>
<form action="/auth/drinks" method="POST" enctype="multipart/form-data" novalidate>
  <label for="name">Nombre</label>
  <input id="name" type="text" name="name">
  <br />
  {{!-- <label for="price">Precio</label>
  <input type="number" name="precio" placeholder="Solo numeros"> --}}
  <br />
  <label for="alcohol">Tipo de alcohol</label>
  <select name="alcohol" id="alcohol">
    <option value="" selected disabled>Choose one</option>
    <option value="Vodka">Vodka</option>
    <option value="Cerveza">Cerveza</option>
    <option value="Tequila">Tequila</option>
    <option value="Whisky">Whisky</option>
    <option value="Ron">Ron</option>
    <option value='Vino'>Vino</option>
  </select>
  <br />
  <label for="typeDrink">Tipo de trago</label>
  <select name="typeDrink" id="typeDrink">
    <option value="" selected disabled>Choose one</option>
    <option value="Cocktail">Cocktail</option>
    <option value="Solo">Solo</option>
    <option value="Mix">Mix</option>
  </select>
  <br />
  <label for="description">Describe tu bebida</label>
  <br />
  <textarea name="description" id="description" cols="30" rows="10"></textarea>
  <br>
  <label for="photo">Agrega una foto de tu producto</label>
  <br />
  <input type="file" name="photo" id="photo">
  <br />

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br />

  <button type="submit">Dar de alta</button>
</form>