<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.css'
    type='text/css' />
</head>
<h2>Dar de alta un Restaurante</h2>
<form action="/auth/altares" method="POST" enctype="multipart/form-data" novalidate>
  <label for="name">Nombre</label>
  <input id="name" type="text" name="name">
  <br />
  <label for="giro">Giro</label>
  <select name="giro" id="giro">
    <option value="" selected disabled>Choose one</option>
    <option value="Restaurant">Restaurante</option>
    <option value="Bar">Bar</option>
    <option value="Antro">Antro</option>
    <option value="Cantina">Cantina</option>
  </select>
  <br />
  <label for="averagePrice">Consumo promedio por persona</label>
  <input id="averagePrice" type='text' name="averagePrice" placeholder="Ingresa el consumo">
  <br />
  <input type="number" name="lng" id="lng" hidden>
  <input type="number" name="lat" id="lat" hidden>
  <div id='map' style='width: 400px; height: 300px;'></div>
  <br>
  <label for="photo">Agrega una foto de tu establecimiento</label>
  <input type="file" name="photo" id="photo">
  <br />
<<<<<<< HEAD:views/auth/altares.hbs
=======
  <label for="Drinks">Agrega las bebidas que ofrece tu Restaurante</label>
  <select multiple name="drinks" id="drinks">
    {{#each drinks as |drink|}}
    <option value="{{drink._id}}">{{drink.name}}</option>
    {{/each}}
  </select>

>>>>>>> 1bd1cb547c27a5965fe7ce71349852f1bdb699e0:views/auth/altaRes.hbs
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br />
  <button type="submit">Dar de alta</button>
</form>
{{!-- <p class="account-message">
  ¿Ya tienes tu cuenta?
  <a href="/auth/login">Login</a>
</p> --}}
<script src="/javascripts/mapbox.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>