<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="name" type="text" name="name">

    <br><br>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <input id="email" type='email' name="email" placeholder="your Email">
  </div>
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class='btn btn-outline-danger'>Crea tu cuenta</button>

  <p class="account-message">
    ¿Ya tienes tu cuenta?
    <a href="/auth/login">Login</a>
  </p>
</form>