<div class='card'>
  {{#each restaurant.drinks as |drink|}}
  <h3 class="card-title">{{drink.name}}</h3>
  <p>{{drink.description}}</p>
  <img class="card-img-top  rounded mx-auto d-block" src="{{drink.imgPath}}" width="100px" alt="{{drink.imgName}}">

</div>