<div class='card'>
  <h3>{{this.name}}</h3>
  <img class="card-img-top" src="{{this.imgPath}}" alt="{{this.imgName}}" width="200">
  <div class="card-body">
    <p>{{this.description}}</p>
  </div>
</div>