<div class='page-header'>
  <h1>
    ¿Qué es Clink!?
  </h1>
</div>


<p class='about'>Clink! es la aplicación ideal para descubrir nuevos lugares y cocteles en la Ciudad de México.
  <br>Gracias a su
  sofisticado algoritmo de búsqueda, Clink! te muestra los bares y restaurantes que se ajustan a tus necesidades.
  </br></p>