<h2 class='about-title'>
  ¿Qué es Clink?
</h2>

<div class="col-12 bg-light ">
  <p class="about">Clink! es la aplicación ideal para conformar una comunidad que gusta de descubrir los trends
    de cocteles y espacios siempre innovadores que la Ciudad de México ofrece tanto a sus habitantes locales como a los
    visitantes de todo el mundo. Gracias a su sofisticado algoritmo de búsqueda, Clink! despliega todo tipo de
    espacios que ofrecen innovadores
    cocteles, ambientes para fiesta y los mejores restaurantes para compañar tu comida con la bebida de tu
    elección.</p>



</div>