{{#each drinks as |drink|}}
<div class='card'>

  <h3 class="card-title">{{name}}</h3>
  <p>{{description}}</p>
  <img class="card-img-top  rounded mx-auto d-block" src="{{imgPath}}" alt="{{imgName}}">

</div>
{{/each}}