<h1>¿De qué tienes ganas?</h1>

<div id="botones">
  <h2 id="fiesta">Fiesta</h2>
  <h2 id="coctel">Coctel</h2>
  <h2 id='acomp'>Acompañamiento</h2>
</div>

<form action="/resultados" method="get" id='fiesta-form'>

  <h3>¿Cuánto quieres gastar?</h3>


  <select name="Budget-fiesta">

    <option value="1">$0-200</option>
    <option value="2">$200-400</option>
    <option value="3">$400-600</option>
    <option value="4">$600-1000</option>
  </select>

</form>

<form action="/resultados" method="get" id="coctel-form">


  <h3>¿Qué tipo de coctel se te antoja?</h3>
  <select name="Typedrink" id="type-drink">
    <option value="vodka"> Con vodka</option>
    <option value="whisky"> Con whisky</option>
    <option value="tequila"> Con tequila</option>
    <option value="cerveza"> Con cerveza</option>
  </select>


  <h3>¿Cuánto quieres gastar?</h3>
  <select name="Budget-coctel" id="budget-coctel">
    <option value="1">$0-200</option>
    <option value="2">$200-400</option>
    <option value="3">$400-600</option>
    <option value="4">$600-1000</option>
  </select>

</form>

<form action="/resultados" method="get" id='acomp-form'>
  <section>

    <select name="Typefood" id="type-food">
      <h2>¿Qué vas a comer?</h2>
      <option value="brunch">Brunch</option>
      <option value="comida">Comida</option>
      <option value="cena">Cena</option>
      <option value="postre">Postre</option>
    </select>

    <select name="Budget-acomp" id="budget-acomp">
      <h3>¿Cuánto quieres gastar?</h3>
      <option value="1">$0-200</option>
      <option value="2">$200-400</option>
      <option value="3">$400-600</option>
      <option value="4">$600-1000</option>
    </select>
    <input type="submit" value="Enviar respuestas">
  </section>
</form>
<script src="/javascripts/listeners.js"></script>