<div id="first-view">
  <h1>¿De qué tienes ganas?</h1>
  <div id="fiesta">
    <h2>Fiesta</h2>
    <img src='/images/alcol.jpg' alt='fiesta'>
  </div>
  <div id="coctel">
    <h2 class="card-header">Coctel</h2>
    <img src="/images/drinks-png-hd-food-cocktails-and-more-1000.png" alt='coctel' />
  </div>
  <div id='acomp'>
    <h2 class="card-header">Acompaña tu comida</h2>
    <img src="/images/wine_PNG9463.png" alt='acomp'>
  </div>
</div>

<form class="form-inline" action="/preguntasfiesta" method="POST" id='fiesta-form'>
  <h3>¿A dónde quieres ir?</h3>

  </br>
  <select class="custom-select" name="giro" id="giro">
    <option value="Antro"> Antro</option>
    <option value="Bar"> Bar</option>
    <option value="Cantina"> Cantina</option>
  </select>


  <h3>¿Cuánto quieres gastar?</h3>
  </br>
  <select class="custom-select" name="averagePrice">
    <option value="200">$0-200</option>
    <option value="400">$200-400</option>
    <option value="600">$400-600</option>
    <option value="1000">$600-1000</option>
  </select>
  </br>
  <button type="submit" class='btn btn-outline-danger' value="Go!">Go!</button>

</form>

<form class="form-inline" action="/preguntas" method="POST" id="coctel-form">

  <h3>¿A dónde quieres ir?</h3>




  <select class="custom-select" name="giro" id="giro">
    <option value="Antro"> Antro</option>
    <option value="Bar"> Bar</option>
    <option value="Cantina"> Cantina</option>
    <option value="Restaurant">Restaurante</option>
  </select>



  <h3>¿Qué tipo de trago se te antoja?</h3>
  </br>
  <select class="custom-select" name='typeDrink' id="type-drink">
    <option value="Cocktail">Coctel</option>
    <option value="Solo">Solo</option>
    <option value="Mix">Mix</option>
  </select>


  <h3>¿Qué quieres tomar?</h3>
  </br>
  <select class="custom-select" name="alcohol" id="type-drink">
    <option value="Vodka"> Vodka</option>
    <option value="Whisky"> Whisky</option>
    <option value="Tequila"> Tequila</option>
    <option value="Cerveza"> Cerveza</option>
    <option value="Ron">Ron</option>
    <option value='Vino'>Vino</option>
  </select>


  <h3>¿Cuánto quieres gastar?</h3>
  </br>
  <select class="custom-select" name="averagePrice" id="budget-coctel">
    <option value="200">$0-200</option>
    <option value="400">$200-400</option>
    <option value="600">$400-600</option>
    <option value="1000">$600-1000</option>
  </select>
  </br>
  <button type="submit" class='btn btn-outline-danger' value="Go!">Go!</button>




</form>

<form class="form-inline" action="/preguntascomida" method="POST" id='acomp-form'>

  <h3>¿A dónde quieres ir?</h3>

  <select class="custom-select" name="giro" id="giro">
    <option value="Restaurant">Restaurante</option>
    <option value="Cantina"> Cantina</option>
  </select>

  <h3>¿Qué quieres tomar?</h3>

  <select class="custom-select" name="alcohol" id="type-drink">
    <option value="Vodka"> Vodka</option>
    <option value="Whisky"> Whisky</option>
    <option value="Tequila"> Tequila</option>
    <option value="Cerveza"> Cerveza</option>
    <option value="Ron">Ron</option>
    <option value='Vino'>Vino</option>
  </select>


  <h3>¿Cuánto quieres gastar?</h3>

  <select class="custom-select" name="averagePrice" id="budget-acomp">
    <option value="200">$0-200</option>
    <option value="400">$200-400</option>
    <option value="600">$400-600</option>
    <option value="1000">$600-1000</option>
  </select>
  </br>
  <button type="submit" class='btn btn-outline-danger' value="Go!">Go!</button>



</form>
<script src="/javascripts/listeners.js"></script>