body {
  text-align: center;
  font-size: 18px;
}
.navbar {
  margin-bottom: 5%;
}
.navbar ul {
  display: flex;
  align-self: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5%;
}

h2 {
  margin-bottom: 2%;
  font-size: 2rem;
}

a {
  color: rgb(202, 15, 77);
}

.form-inline {
  color: rgb(202, 15, 77);
  margin: 5%;
}

.form-inline button {
  margin-top: 2%;
}
.logo {
  display: flex;
  align-content: space-around;
}

#fiesta-form,
#coctel-form,
#acomp-form {
  display: none;
  text-align: center;
}

#first-view {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  color: rgb(0, 0, 10);
  transition: 0.3s;
}

#first-view:hover {
  color: rgb(202, 15, 77);
}

#first-view img {
  width: 40%;
}

#coctel {
  margin-top: 5%;
}

#restaurants {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: center;
  text-align: justify;
}

.about-title {
  margin: 8%;
  color: rgb(202, 15, 77);
}

#drinkCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#imagenCard {
  width: 16rem;
  height: 16rem;
}

#cardSingle {
  margin-right: 20px;
}

.perfil-title {
  margin-bottom: 20px;
}

#cardPerfil {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#imgPf {
  width: 25rem;
  height: 25rem;
}

#map {
  display: flex;
  align-self: flex-start;
  margin-left: 500px;
}
