body {
  padding: 50px;
  text-align: center;
  font-size: 18px;
}

.navbar ul {
  display: flex;
  align-self: normal;
}

h1 {
  font-size: 2rem;
  margin-bottom: 15%;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: rgb(202, 15, 77);
}

form {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 15%;
}

select {
  margin: 5%;
  background-color: rgb(202, 15, 77);
  color: whitesmoke;
  border-radius: 10%;
}

#fiesta-form input,
#coctel-form input,
#acomp-form input {
  display: flex;
  background-size: 20%;
  background-color: whitesmoke;
  margin-left: 45%;
  margin-top: 10%;
  font-style: italic;
  transition: 0.2s;
}

input:hover {
  color: rgb(202, 15, 77);
}

.logo {
  display: flex;
  align-content: space-around;
}

.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 2rem;
  color: #888;
}

.ec-stars-wrapper:hover a {
  color: rgb(202, 15, 77);
}

#fiesta-form,
#coctel-form,
#acomp-form {
  display: none;
  text-align: center;
}

#first-view {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  color: rgb(0, 0, 10);
  transition: 0.3s;
}

#first-view:hover {
  color: rgb(202, 15, 77);
}

#first-view img {
  width: 40%;
}

#coctel {
  margin-top: 5%;
}

#restaurants {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: center;
  text-align: justify;
}

.about-title {
  margin: 8%;
  color: rgb(202, 15, 77);
}
