<h2>¿Qué vas a comer?</h2>


<form action="/acomp-last" method="post">


  <select name="foodType" id="type">
    <option value="brunch">Brunch</option>
    <option value="comida">Comida</option>
    <option value="cena">Cena</option>
    <option value="postre">Postre</option>
  </select>
  <select name="Budget-acomp" id="budget-acomp">
    <option value="1">$0-200</option>
    <option value="2">$200-400</option>
    <option value="3">$400-600</option>
    <option value="4">$600-1000</option>
  </select>

</form>