<h2>¿Qué tipo de coctel se te antoja?</h2>


<a href="/cocktail-last" data-value='1'>Dulce</a>
<a href="/cocktail-last" data-value="2">Seco</a>

<h3>¿Cuánto quieres gastar?</h3>
<a href="/fiesta-last" data-value="1"> $0-$200</a>
<a href="/fiesta-last" data-value="2">$200-400</a>
<a href="/fiesta-last" data-value="3">$400-600</a>
<a href="/fiesta-last" data-value="4">$600-$1000</a>