<h2>¿Qué tipo de coctel se te antoja?</h2>


<form action="/cocktail-last" method="post">


  <select name="Type" id="type">
    <option value="vodka"> Con vodka</option>
    <option value="whisky"> Con whisky</option>
    <option value="tequila"> Con tequila</option>
    <option value="cerveza"> Con cerveza</option>
  </select>
  <h3>¿Cuánto quieres gastar?</h3>
  <select name="Budget-coctel" id="budget-coctel">
    <option value="1">$0-200</option>
    <option value="2">$200-400</option>
    <option value="3">$400-600</option>
    <option value="4">$600-1000</option>
  </select>


</form>