<h2>¿Cuánto quieres gastar?</h2>

<form action="/fiesta-last" method="post">
  <select name="Budget-fiesta" id="budget-fiesta">

    <option value="1">$0-200</option>
    <option value="2">$200-400</option>
    <option value="3">$400-600</option>
    <option value="4">$600-1000</option>
  </select>
</form>